@charset "Shift_JIS";
/* #595959 ベースカラー */
/* #cc0000 赤           */
/* #eeeeee 淡ベース     */
/* #7dbeff サックス     */
/* #444444 テキストカラー */
/* #8a8a7b リンクカラー   */
/********************************************************************************************

base settings

********************************************************************************************/
html {
  font-size: 62.5%;
}

body {
  background: #595959;
  width: 100%;
  min-width: 100%;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: black;
}
@media only screen and (min-width: 0) and (max-width: 320px) {
  body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Verdana, Helvetica, Arial, sans-serif;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Verdana, Helvetica, Arial, sans-serif;
  }
}

a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}

@media only screen and (min-width: 0) and (max-width: 320px) {
  img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  img {
    max-width: 100%;
  }
}

/********************************************************************************************

alert

********************************************************************************************/
/* img tag for google Analytics
-----------------------------------------------------------*/
#googleAnalyticsImageObj {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* check server
------------------------------*/
#cautionForCheckServer {
  clear: both;
  margin: 0 60px;
}
@media only screen and (min-width: 0) and (max-width: 320px) {
  #cautionForCheckServer {
    margin: 0 20px;
    font-size: 9px;
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  #cautionForCheckServer {
    margin: 0 20px;
    font-size: 9px;
    font-size: 0.9rem;
  }
}

/* lte IE7
------------------------------*/
#showIE {
  margin: 15px auto;
  padding: 15px 0;
  border-top: 1px solid #e54040;
  border-bottom: 1px solid #e54040;
}
#showIE p {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}
#showIE p img {
  display: block;
  float: left;
  padding-right: 25px;
}
#showIE p span {
  display: block;
  text-align: center;
  padding-top: 8px;
}

/* フッター固定必須CSS
-----------------------------------------------------------*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrap {
  position: relative;
  min-height: 100%;
}

#contentsWrap {
  /* padding-bottom = whole size of footer */
  margin: 0 auto;
  padding-bottom: 0;
}

#siteFtrWrap {
  /* height + padding-top + padding-bottom = margin-top ( negative ) */
  width: 100%;
  height: auto;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
}

#pageloader {
  display: table;
  background: #fff;
  min-width: 100%;
  min-height: 100%;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000000000;
}

/********************************************************************************************

slideMenu 挙動部分

********************************************************************************************/
#callMenu {
  cursor: pointer;
  display: none;
}

#wrap {
  background: #fff;
  -webkit-transform: translate3d(0px, 0px, 1px);
  -webkit-transition: .2s -webkit-transform ease-in-out;
  z-index: 1;
}

#wrap.show {
  -webkit-transform: translate3d(240px, 0px, 1px);
  min-width: 320px;
}

#slidemenu.show {
  height: 100%;
  visibility: visible;
  z-index: 1;
  -webkit-transition: z-index 0s linear .2s;
}

#slidemenu_contents {
  display: none;
  height: 100%;
  position: relative;
  width: 240px;
}

#slidemenu {
  background-color: #333;
  left: 0;
  top: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: visibility 0s linear .2s;
}

/********************************************************************************************

slideMenu styles

********************************************************************************************/
#slidemenu #menuTitle {
  padding: 10px 0;
  border-bottom: 1px solid #000;
  line-height: 1.8;
  text-align: center;
  font-size: 20px;
}

#slidemenu li {
  width: 200px;
  list-style: none;
  border-top: 1px solid #4D4D4D;
  border-bottom: 1px solid #000;
  font-size: 14px;
  line-height: 1.8;
  padding: 10px 20px;
}

#slidemenu li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

#slidemenu li:first-child {
  /*border-top: none;*/
}

#slidemenu li:last-child {
  border-bottom: none;
}

/********************************************************************************************

header

********************************************************************************************/
.hdrMenu {
  background-color: #595959;
  color: white;
  padding: 0.5em 0;
  border-bottom: 3px solid #cc0000;
}
.hdrMenu ul {
  width: 980px;
  margin: 0 auto;
  text-align: right;
  line-height: 1;
}
.hdrMenu ul li {
  display: inline-block;
  border-left: 1px solid white;
}
.hdrMenu ul li:first-child {
  border-left: 0;
}
.hdrMenu ul li a {
  display: inline-block;
  padding: 0 8px;
  text-decoration: none;
  font-size: 11px;
  font-size: 1.1rem;
}

.siteHdr {
  width: 980px;
  margin: 0 auto;
  display: table;
  line-height: 0;
}

.siteLogo {
  display: table-cell;
  vertical-align: top;
}

.gnavWrap {
  display: table-cell;
  vertical-align: top;
  background-color: #cc0000;
}

.gnav {
  display: table;
  width: 100%;
}

.gnavItem01, .gnavItem02, .gnavItem03, .gnavItem04, .gnavItem05 {
  display: table-cell;
  text-indent: -9999px;
}
.gnavItem01 a, .gnavItem02 a, .gnavItem03 a, .gnavItem04 a, .gnavItem05 a {
  display: block;
  min-width: 146px;
  height: 48px;
  padding-left: 1px;
  position: relative;
}
.gnavItem01 a:before, .gnavItem02 a:before, .gnavItem03 a:before, .gnavItem04 a:before, .gnavItem05 a:before {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: white;
  position: absolute;
  left: 1px;
  top: 50%;
  margin-top: -22px;
}
.gnavItem01:first-child a, .gnavItem02:first-child a, .gnavItem03:first-child a, .gnavItem04:first-child a, .gnavItem05:first-child a {
  padding-left: 0;
}
.gnavItem01:first-child a:before, .gnavItem02:first-child a:before, .gnavItem03:first-child a:before, .gnavItem04:first-child a:before, .gnavItem05:first-child a:before {
  content: none;
}

.gnavItem01 a {
  background: url(../img/gnav.gif) 0px 0 no-repeat;
}

.gnavItem02 a {
  background: url(../img/gnav.gif) -146px 0 no-repeat;
}

.gnavItem03 a {
  background: url(../img/gnav.gif) -292px 0 no-repeat;
}

.gnavItem04 a {
  background: url(../img/gnav.gif) -438px 0 no-repeat;
}

.gnavItem05 a {
  background: url(../img/gnav.gif) -584px 0 no-repeat;
}

/********************************************************************************************

gnav

********************************************************************************************/
/********************************************************************************************

contents

********************************************************************************************/
.contents {
  width: 980px;
  margin: 0 auto;
}

/* パンくず
-----------------------------------------------------------*/
.breadcrumbs {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.breadcrumbs ul {
  font-size: 11px;
  font-size: 1.1rem;
}
.breadcrumbs ul:before {
  /*content: url(../img/icon_home.png);*/
}
.breadcrumbs ul li {
  display: inline-block;
}
.breadcrumbs ul li:before {
  content: '\3e';
  display: inline-block;
  margin-right: 8px;
}
.breadcrumbs ul li:first-child:before {
  content: '';
  display: none;
}

/* ページタイトル
-----------------------------------------------------------*/
/* サブタイトル
-----------------------------------------------------------*/
.subTitle {
  margin-bottom: 30px;
  font-size: 24px;
  font-size: 2.4rem;
  position: relative;
}

.subTitle__icon {
  vertical-align: baseline;
  position: relative;
  top: 0.2em;
  margin-right: 0.25em;
}

.subTitle__btn {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.7em;
}

/********************************************************************************************

footer

********************************************************************************************/
#siteFtrWrap
.siteFtrWrap__backtop {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  margin-left: -490px;
}
#siteFtrWrap
.siteFtrWrap__backtop a {
  display: block;
  position: absolute;
}

/* サイトマップ
-----------------------------------------------------------*/
.sitemapWrap {
  background-color: #eeeeee;
  padding: 30px 0;
}

.sitemap {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.sitemapCategory {
  float: left;
  margin-right: 20px;
}
.sitemapCategory:last-child {
  margin-right: 0;
}
.sitemapCategory:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}

.sitemapCategoryTitle {
  margin-bottom: 20px;
  border-bottom: 2px solid #595959;
  color: #595959;
}
.sitemapCategoryTitle i {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: 0.2em;
}
.sitemapCategoryTitle + .sitemapList {
  margin-left: 0;
}

.sitemapList {
  float: left;
  width: 180px;
  margin-left: 20px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #595959;
}

.sitemapListLv1, .sitemapListLv2 {
  padding: 0 10px;
}
.sitemapListLv1 li, .sitemapListLv2 li {
  margin-bottom: 8px;
}
.sitemapListLv1 li a, .sitemapListLv2 li a {
  text-decoration: none;
}
.sitemapListLv1 li a:hover, .sitemapListLv2 li a:hover {
  text-decoration: underline;
}

.sitemapListLv1 {
  margin-bottom: 12px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #595959;
}
.sitemapListLv1:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.sitemapListLv2 {
  margin-top: 8px;
}

.contactBtn {
  clear: both;
}
.contactBtn a {
  display: block;
  padding: 8px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.contactBtn a:hover {
  background-color: #cc0000;
  border-color: #cc0000;
  color: white;
}
.contactBtn a i {
  margin-right: 0.5em;
}

/* コピーライト
-----------------------------------------------------------*/
.copyright {
  background-color: #e6e6e6;
  padding: 30px 0;
}

.copyright__container {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}
.copyright__container address {
  margin-top: 10px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #666666;
}

.copyright__company {
  font-weight: bold;
}

.copyright__license {
  font-size: 12px;
  font-size: 1.2rem;
  color: #666666;
}

/********************************************************************************************

api / plug-in

********************************************************************************************/
/* google map infoWindow
-----------------------------------------------------------*/
.gmapOpen_InfoWindow {
  min-height: 95px;
  padding: 10px;
}

.gmapOpen_shopName {
  margin-bottom: 7px;
  font-size: 133.3%;
}

.gmapOpen_shopAddress {
  display: block;
  margin-bottom: 3px;
}

.gmapOpen_shopUrl {
  margin-top: 15px;
}

/* scroll bar customize
-----------------------------------------------------------*/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}

.scroll-pane:focus,
.jspScrollable:focus {
  outline: none;
}

.jspPane {
  position: absolute;
  left: 0 !important;
}

.jspVerticalBar {
  width: 12px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.jspTrack {
  background: #fff;
  position: relative;
}

.jspDrag {
  background: red;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
